

<link href="~/CSS/common-question.css" rel="stylesheet" />

<div class="container body-content">

    <div class="container common-question">


        <h1> Common Interview Questions & Answers</h1>

        <div class="common-question-image">

            <img src="~/Content/Images/interview-preparation2.jpg" alt="Common Questions" class="responsive">
        </div>

        <button class="accordion accordionQst">Can you tell me about yourself?</button>
        <div class="panel">
            <i>
                <p>
                    <strong><br />'Tell me about yourself' </strong>is still the common & starting question asked by the interviewers everywhere.This question means
                    'Just tell me what makes you the best and fit the job requirements'.The answer will obviously be different for both freshers and those with work
                    experience.
                </p>
                <p>
                    Keep in mind that - start your answer like <strong>
                        'First of all I would like to thank you, for giving me an opportunity to
                        introduce my self.'
                    </strong> . your answer should not take more than 2 minutes.
                </p>


                <p>
                    There are many topics to be included in the answer of this question. Some of them are listed below, You may exclude some of the
                    topics to make sure too long(not crossing 2 minutes).
                </p>
                <br />

                <p>
                    <strong>
                        1. Name and Educational background<br />
                        2. Work experience<br />
                        3. Achievements<br />
                        4. Interesting projects/technologies you have worked on<br />
                        4. Hobbies<br />
                        5. Strength<br />
                        6. Weakness<br />
                        7. Short term goal<br />
                        8. long term goal<br />
                    </strong>
                </p><br />
                <p>
                    <strong>For freshers</strong>, interviewer focus more on your academics and extra-curricular activities.First you should mention
                    your name and latest educational qualification and the main focus should be on any scholarships that you might have obtained.then talk
                    about your hobbies,strength,weakness,short term goal, long term goal etc.
                </p>
                <p>Let me give you an <strong>example:</strong></p><br />

                <p>If someone asked, "Tell me about yourself," you could say:</p>

                <p>
                    <i>
                        Good morning Sir,<br />

                        First of all I would like to thank you, for giving me an opportunity to introduce my self.<br />

                        My self Rithika, I belong from Chennai.<br />

                        I am pursuing my under graduation in Information Technology from NGCE.<br />

                        I did my Intermediate from State Board with 72% & High school from State Board with 75%.<br />

                        My Hobbies is playing shuttle, A Passion for music and teaching kids.<br />

                        My Strength is takes Initiative to work independently, Good leadership skill, Adaptable to any kind of situation in estranged group
                        & Helping tendency.<br />

                        My Weakness is I am not comfortable, until I finish my work in the given time & over friendly in nature.<br />

                        My Short term goal is to get the job in reputed company.<br />

                        My Long term goal is to become more responsible and knowledgeable personality and on respectable position on my company.<br />

                        That's all about me!<br />

                        Thank you very much for giving a great opportunity to introduce my self behind you.<br />

                    </i>
                </p>

        </div>


        <button class="accordion accordionQst">What Are Your Salary Expectations?</button>
        <div class="panel">
            <br />
            <p>
                In interview process, salary expectation question may be asked at different points. It's better you to well prepared to answer this question.
                A wrong answer can cause a job offer with a salary that is too low. If you state a salary that is too high that may be out of the company's salary range
                and may result in lose of your opportunity .
            </p>
            <h3 id="points-to-emphasize" class="inth3"><strong>1. Filling salary expectation section in an application form </strong> </h3>
            <p>
                If you want to fill the application containing a required field for 'salary expectation', type in a word like "negotiable" or "appropriate" or some
                similar answer that is relevant but is not a specific number. If you decide to use a number, then better you choose a number from the higher end of
                your range rather than the lower end, but keep in mind that being "expensive" may eliminate you from consideration, choose a number depending on the employer and
                their budget.
            </p>
            <h3 id="points-to-emphasize" class="inth3"><strong>2. At the time of interview </strong> </h3>
            <p>
                If you don't have a better idea about what the job is like and if you want it. Then you can use this question as an opportunity to collect important
                information about the job and the salary grade.
            </p>
            <p><strong>Example:</strong></p>
            <p>
                <i>
                    Before I give you a number, I'd like to understand how you compensate employees and how this job fits into your compensation structure.
                    I'm curious to know the salary grade for this position, the salary range and midpoint for that grade, and where that grade fits into your
                    compensation system? That will give me a better idea of how this position fits into your structure and my career plans
                </i>
            </p>
            <p>
                At the end of your interview, you may get more about the job and the organization. When they ask you the salary-expectation question, If you don't have
                any idea about total compensation and the information about benefits then you can ask something like this,
            </p>
            <p>
                <i>
                    I need to understand and evaluate the total compensation package before I give you a salary number. Could you share the standard benefits you
                    provide?
                </i>
            </p>
            <p>Use your research to give you a number for your answer to this question:</p>
            <p>
                <i>
                    Based on my research and the information you have provided, I believe that a salary in the range of $XX,XXX to $XX,XXX with 2 weeks of paid vacation
                    and your other benefits would be appropriate.
                </i>
            </p>
        </div>

        <button class="accordion accordionQst">How did you hear about the position?</button>
        <div class="panel">
            <br />
            <p>
                This question usually comes at the beginning of the interview. In asking this question, interviewers are judging if you are an active or passive job seekers.
                Active job seeker means that you're actively looking for a job. Passive job seekers are people who are open to something new but haven't yet taken the step of
                beginning an active job search. While they may have decided it is time to get a new job, they are committed enough to their current position and organization to continue
                working while they look for a new opportunity.  Remember to be confident , you want to make a good impression.Considering this, you want to be strategic in the way you answer this question.
            </p>
            <h3 id="points-to-emphasize" class="inth3"><strong>Points to Emphasize</strong> </h3>
            <p> Depending upon how you heard about the position, there are different ways that you can answer the question. Still, there are certain points to mention that can help you to properly answer such type of inquiry.</p>
            <ul class="intul">
                <li>
                    Clearly state the source from which you heard of the position, but do not go into elaborate detail, other than the name of the individual,
                    company or resource.
                </li>
                <li> Explain what aspects drew you to the position.Remember to talk about the duties of the position or values of the company you liked. </li>
                <li> Briefly state why you feel qualified for the job. </li>
                <li> Express your excitement about the possibility of obtaining the position. </li>
            </ul>
            <h3 id="mistakes-you-should-avoid" class="inth3"><strong>Mistakes You Should Avoid </strong></h3>
            <p> Review these mistakes to avoid when answering this question.</p>
            <ul class="intul">
                <li> Even if you heard about the position from an employ, do not go into great detail about your relationship with that employee.</li>
                <li> Do not give vague one word answers. </li>
                <li>Do not say you're not sure or don't remember</li>
                <li> If you do not recall what job board you found the position through, do not dwell on that fact or make something up.</li>
                <li>
                    If you heard of a job from an employee who is on rocky terms with the company or recently departed on negative terms, do not mention their
                    name.
                </li>
            </ul>
            <h3 id="sample-answer" class="inth3"><strong>Sample Answer</strong></h3>
            <p>One way to properly answer inquiries about how you heard about the position might be:</p>
            <p>
                <i>
                    I heard about this position through a current employee, Jane Doe. She was a previous co-worker of mine at XYZ Company where I served as a project
                    manager. After reviewing the position and researching the company, I felt qualified to fulfill the position and excited about the possibility of
                    joining such a reputable company.
                </i>
            </p>
            <p>
                <i>
                    Remember, the question is asking more than just who sent you. Make sure that you address why you applied to the position and how you qualify.
                    Addressing these things can help to avoid certain additional questions and possibly help you to secure the position.
                </i>
            </p>

        </div>

        <button class="accordion accordionQst"> What do you know about the company?</button>
        <div class="panel">
            <br />
            <p>
                In asking this question, The interviewer wants to see 'how much research and preparation you've done for this interview?', 'if you can describe the
                company well as an informed outsider?' and 'if you can translate what you know about the company into expressing interest?'. So if you really want
                to impress them, be ready to get specific with a couple facts you read about their company while preparing for the interview.
                If you don't seem like you know anything about them, you'll come across as desperate - somebody who will take any job they can find.
                And that's going to make you unattractive to any good employers out there.
            </p>

            <p><strong>Do:</strong></p>
            <ul>
                <li>Make sure to research the company before the interview (on their website, their LinkedIn page, and Google)</li>
                <li>Understand What products or services does the company, provide, and who are their clients?,what they sell and how they make money ?</li>
                <li>Try to have some sense of their company size.  How many offices do they have, and how many employees do they have?</li>
                <li>What are the company's goals, and what is their overall mission?</li>
                <li>In your answer, show you've done research and show that you're excited about interviewing with their particular company</li>
                <li> Company history-basics about the founder(s) and when the company launched </li>
            </ul>
            <p><strong>Don't:</strong></p>
            <ul>
                <li>Say you don't know anything</li>
                <li> Do not say anything negative about the company, or make guesses about what the company does.</li>
                <li>Say facts that are incorrect or you aren't sure about.</li>
                <li>Do not give an essay-like answer to the question-sincere and simple answers work best.</li>
            </ul>
            <h3>Good answer examples:</h3>
            <p><i>From what I read, your company is one of the leaders in providing security software to other businesses. I read the list of clients on your website. Do you mostly serve Fortune 500 clients? I saw a couple big Fortune 500 companies mentioned on the list, including ___ and ___.</i></p>
            <p>
                <i>
                    You're one of the largest investment banks in the US. Your headquarters is in Raleigh, NC, and you have 25,000 employees worldwide based on
                    what I read on your website.
                </i>
            </p>


        </div>

        <button class="accordion accordionQst"> Why do you want this job?</button>
        <div class="panel">
            <br />
            <p>
                While answering this question you focus on your experience and skills with the specific role. It's better to add a few words about the good/positive
                image of the company. Keep in mind that you should try to construct an answer that will explain who you are and why you are there. <br />
                <br />

                You want to start by describing <strong>why you're interested in that specific job</strong>. Then focus on <strong>
                    why you want to work at this
                    company
                </strong>. Thus, your response needs to show :<strong> How your skills match the role</strong> and <strong>
                    How you fit into the culture
                </strong>. Show that you are a good fit and talk more about <strong>what you can do for the company</strong>. Then express <strong>
                    how your skills
                    and experience can help the company move forward
                </strong>.
                <br /><br />
                <strong>
                    Here are the appropriate responses: <br />
                </strong><br />
                <ul>
                    <li>
                        Given the feeling of significance of this career field; it has constantly made me need to be in this career,
                        in light of the fact that I can't think about some other activity profession that is so vital to society.
                    </li>
                    <li> I would like to gain experience in this line of work because I feel that it will perfectly suit my ABC skills.</li>
                    <li> This position challenges me to keep up with the cutting edge of technologies</li>
                    <li> I feel I should have direct hands-on knowledge/experience in this position/at this stage of my career.</li>
                    <li> I would like to develop my EFG skills to acquire in-depth experience in my profession for the benefit of this organization.</li>
                    <li> This job in such a stable company offers long-term career development and this is what I am looking for.</li>
                    <li> I see this company not only as a positive work environment, but also as a good opportunity to have my skills and qualifications make a difference.
            </p>
            <li> This challenging job will allow me to utilize my ABC skills.</li>
            <li> Being part of a research and development team is a job experience I always love to have.</li>
            <li> I believe that this job will help me assume another level of responsibility in my career.</li>
            <li> The job is tailored to my AFG skills and previous experience.</li>
            <li> I want to be a part of a company on its way up as this company already launched several top products.</li>
            <li> I believe that this entry-level job may enhance my professional experience.</li>
            <li> This company is known as a company that rewards employees who deliver good results.</li>
            <li> The company's good reputation and its successful strategies and values make everyone want to work for such a company.</li>
            <li> This position provokes me to stay aware of the forefront of advances.</li>
            <li>
                This job is a good fit for what I've been doing and enjoying throughout my career. It offers a mix of short-term projects and long-term
                goals. My organizational skills allow me to successfully multitask and complete both kinds of projects.
            </li>
            <li>
                I have admired this company's successful strategies and mission for years. Your emphasis on creating a relationship between your company
                and the surrounding community have brought you success everywhere you have opened an office. There are values I greatly admire.
            </li>
            </ul>
        </div>



        <button class="accordion accordionQst">Why should we hire you? </button>
        <div class="panel">
            <br />
            <p>
                The best approach to answering this question is to focus on your education, work experience, skills, aptitudes and abilities which differentiate you
                from your competition. Try to talk about your problem solving abilities and how you'll help them. What will be better for them if they hire you?
                What will you improve for them?
            </p>
            <p>And show you've done your research. Make it clear that you know what this position involves, and you're ready to perform the tasks.</p>
            <p><strong><b>Do:</b></strong></p>
            <ul>
                <li>Be confident in your skills and abilities</li>
                <li>Talk about specific things you can help them do or achieve if they hire you</li>
                <li>
                    Do your research before the interview and understand their needs, so you can "tailor" your answers and target the specific
                    things they'll need if they hire you in this role
                </li>
            </ul>
            <p><strong>Don't:</strong></p>
            <ul>
                <li>Say "I don't know"</li>
                <li>Say 'You should hire whoever you want'</li>
                <li>
                    Give a generic answer that'd fit any company. You really need to "tailor" this to the specific duties you'll be performing in this specific
                    job. Otherwise your answer will not impress them.
                </li>
            </ul>
            <h3>Good example answer:</h3>
            <p>
                For experienced candidates : <i>
                    "Because I'm the best person for the job. Because I have all of the required qualifications that you are asking for in this job.
                    The education, the experience, the industry experience. But I also bring a passion to the job that makes me the best person for the job. Why?
                    Because that passion translates into results. I really love what I do. Let me give you an example---"
                </i>
            </p>
            <p>
                For entry level candidates: <i>
                    "Because I'm the best person for the job. I know you are interviewing other students with similar qualifications in terms of my degree and my
                    internship. Yet I was awarded the Employee of the Month award as an intern this past summer and was the first intern ever to receive that award.
                    I was given that award over all other nominations of their full-time staff. That award was given due to my delivery on a project that no one else had
                    been able to successfully complete. I not only delivered the project, but I did it while also working on two other projects, both of which were
                    completed during job one summer as an intern. Let me tell you about the project where I won the award----"
                </i>
            </p>
        </div>

        <button class="accordion accordionQst"> What are your greatest professional strengths? </button>
        <div class="panel">
            <br />

            <p>
                The main reason interviewers ask this question is to identify if your strengths meet the needs of the company and the job's responsibilities. Your
                response will help the employer decide whether or not you are the strongest applicant for the position.
            </p>
            <div class="post-content">


                <p>You present your greatest strengths in a confident manner - those skills that are important for the job you're applying for.</p>
                <p>
                    <strong>Assess/identify your </strong><strong>greatest </strong><strong>strengths and relate them to the job requirements</strong><br>
                    One of the first steps you should take as a job candidate is to conduct self assessment. Self-assessment consists of evaluating your key skills, past achievements and professional experience.<br>
                    You must know what you are good at as a critical step toward being able to clearly communicate your greatest strengths to potential employers.<br>
                    You also want to read carefully the job-description to find out the key skills required for the job.
                </p>
                <p>
                    <strong>Translate your greatest strengths into job-related language of benefits relevant to the job needs</strong><br>
                    <i>
                        For example: If you are good at presenting/speaking in front of a group, continue your case by telling that it helps you in being a good
                        salesman, influencing people or getting the action you desire from them. This answer is good for people applying for sales position or
                        managerial ones.
                    </i>
                </p>
                <h3>Answering - What is your greatest strength</h3>

                <p>Here is an example of a good answer - </p>
                <p>
                    <i>
                        My education in ----, my experience in --- and my knowledge of the area of -- all will contribute to my performing this position with little
                        or no downtime.
                </p>
                <ul>
                    <li>I have strong time management skill</li>
                    <li>I'm very determined and a good problem solver</li>
                    <li>I have the competent to adapt and learn in new work settings and cope with new work situations.</li>
                    <li>I have a great deal of energy, drive to success and initiative.</li>
                    <li>I like taking on new challenges</li>
                    <li>I like working/communicating with different type of people.</li>
                    <li>I'm creative and expressive writer and an organized and fluent speakeror a good communicator</li>
                </ul>
                <p>
                    <i>
                        I have the proven ability to transfer my skills from one job to another. Because of this, I can learn my way around an organization quickly.
                        I can concentrate on motivating and managing the staff, while developing relationships with other employees and clients.
                        I can find the fastest, most efficient way to get the work done. As a result, I'm able to keep increasing my output while maintaining the
                        quality.
                    </i>
                </p>

            </div>
        </div>



        <button class="accordion accordionQst">  What do you consider to be your weaknesses? </button>
        <div class="panel">
            <br />
            <p>Through this kind of question, interviewer aim to find level of your self-awareness and check if you're willing to work on your weaknesses</p>
            <p><strong>Do</strong></p>
            <ul>
                <li>Select a weakness that is relatively minor and fixable.Through personal effort you can improve it. </li>
                <li>Describe your weakness in a beief and neutral way.</li>
                <li>Pick a weakness that not affect your job opportunity</li>
            </ul>

            <p><strong>Don't:</strong></p>
            <ul>
                <li>Giving a weakness that is actually a strength.</li>
                <li>Giving a weakness that reflects a bad attitude.</li>
                <li>Refusing to answer the question.</li>
                <li> avoid very vague or general answers. </li>
            </ul>
            <h3>Example 1: Too Direct</h3>

            <p>
                <i>
                    "Sometimes I can be a bit too honest when I provide feedback to coworkers. My personality is naturally very straightforward and to the point,
                    and most of my colleagues really value that, but I have learned that there are times on the job when more diplomacy is required.
                </i>
            </p>

            <p>
                <i>
                    I took a training class on conflict management and it really opened my eyes to the need to communicate differently with different people.
                    So now I am much better at providing constructive feedback, even if it doesn't always come naturally."
                </i>
            </p>
            <h3>Example 2: Public Speaking</h3>

            <p>
                <i>
                    "Honestly, I would say that public speaking is an area that I could work on. I tend to get nervous when asked to present to a large group of
                    people. In small team meetings, I'm the first one to stand up and present. But put me in front of a big group and I can get flustered.
                </i>
            </p>

            <p>
                <i>
                    I actually spoke to my manager about this and we set it as one of my development goals for this year. I took an internal presentation skills
                    class and attended some meetings of Toastmasters, a networking group for people who want to practice public speaking. With some practice,
                    I started to feel more comfortable. Last month, I even volunteered to represent our team at a division-wide town hall. I only had to present
                    for 10 minutes, but I did it and got great feedback! It was actually kind of fun, so I plan on continuing to seek out opportunities to improve
                    in this area."
                </i>
            </p>

        </div>



        <div>
            <p>There are many things to be taken care while attending an interview.Avoid that mistakes ..have a look at <a href="/HRInterview/interviewdoesanddont">Do's and Don'ts of Interview</a> </p>
            <p>Proper preparation is required to attend an interview and make it successfull ..have a look at  <a href="/HRInterview/PreparingforInterview">Preparing for a Interview</a> </p>
        </div>




    </div>

</div>
<div>
    @{
        Html.RenderPartial("/Views/Shared/_CommentBox.cshtml");
    }
</div>