


<div class="panel panel-default">
    <div class="panel-heading"><h1>Interview Do's and Don'ts</h1></div>
    <div class="panel-body">
        <section>
            <div>
                <h3> Interview do's</h3>
                <ul>
                    <li> Be punctual. Make sure that you are 10 minutes early and if you are going to be unavoidably detained ring and let them know.</li>
                    <li> Dress appropriately. Extremes in fashion or very casual clothes should generally be avoided. Look neat and clean.                                                                                                                                                                                     </li>
                    <li> Express yourself and your views clearly.                                                                                                                                                                                                                                                              </li>
                    <li> Bring a copy of all relevant documents, so you can refer to them if necessary.                                                                                                                                                                                                                        </li>
                    <li> Listen carefully to the questions and answer clearly and thoughtfully.                                                                                                                                                                                                                                </li>
                    <li> Make eye-contact. Remember to talk to the person (not the top right hand corner of the room or at their shoes).                                                                                                                                                                                       </li>
                    <li> Make sure you fully understand the question and query any point about which you may be doubtful.                                                                                                                                                                                                      </li>
                    <li> If you are being interviewed by a panel, ensure that you direct your answer to the person who asked the question, while still including the other interviewers by making brief eye contact.                                                                                                           </li>
                    <li> Ask questions. Selection is a two way process. They select you, but you also select them.                                                                                                                                                                                                             </li>
                    <li> Be aware of what your needs are, so as you can assess how well the company can fulfil them.                                                                                                                                                                                                           </li>
                    <li> Be Confident. Remember that you applied for the position because you thought that you could do it.                                                                                                                                                                                                    </li>
                    <li> Show enthusiasm for the company and the position.                                                                                                                                                                                                                                                     </li>
                    <li> Remember that they already like you. Employers don't interview everyone. They only interview those people who they think have the right skills and experience to succeed in the position. Consequently, in the interview, you maintain and improve on the positive image that you have already created</li>
                    <li> Make sure that you always present your skills in a positive light. Even when describing your weaknesses you should always show them what you are doing to rectify it.                                                                                                                          </li>
                    <li> Make sure that you have an idea about where your want to be in the future and can relate the future goals to your application for the present position. You must be able to answer the question "Where do want to be in five years time?"                                                      </li>
                </ul>

            </div>

        </section>
        <section>

            <div>
                <h3> Interview don'ts</h3>
                <ul>
                    <li> Don't be Late.</li>
                    <li> Don't dress too casually or look untidy.</li>
                    <li> Don't make derogatory remarks about past or present employers.</li>
                    <li> Don't fidget or twitch, try to control other nervous mannerisms.</li>
                    <li> Conversely, don't sit there like a statue. If you feel more comfortable talking with the aid of your hands for emphasis, then use them, but try not to be too excessive in your gestures.</li>
                    <li> Don't interrupt the interviewer before they have finished asking you a question and never finish their sentences for them.</li>
                    <li> Don't Lie. If you have to lie about what you are like or your abilities in order to obtain the job, you are likely to find yourself in a position that you don't really like and probably one in which you will have problems fulfilling successfully.</li>
                    <li> Don't worry if you answer one question badly. Treat each question individually. Remember that if you mess up the second question but answer the next 15 brilliantly they won't place much emphasis on the second question putting your poor answer down to nerves. If however, you get so caught up in chastising yourself for making a mistake, you will continue to make mistakes, have more problems thinking about your answer and finish feeling extremely anxious and knowing that you made a mess of the interview.</li>
                    <li> Don't talk about salary, holidays or bonuses unless they bring them up.</li>
                    <li> Don't answer questions with a simple "yes" or "no". Make sure that you explain your reasoning fully.</li>
                    <li> Don't wear too much perfume or aftershave.</li>
                    <li> Don't smoke even if invited to do so.</li>
                </ul>
            </div>
        </section>

    </div>
</div>
<div>
    <p>We had handpicked a list of most common interview questions and answer for you have look <a href="@Url.Action("commonhrquestions", "HRInterview" )">Most Common Interview Questions</a> </p>
    <p>Proper preparation is required to attend an interview and make it successfull ..have a look at <a href=" <a href=" @Url.Action("PreparingforInterview", "HRInterview") ">Preparing for a Interview</a> </p>
</div>



@{
    Html.RenderPartial("/Views/Shared/_CommentBox.cshtml");
}
