
<link href="/CSS/Interview-preparation.css" rel="stylesheet" />
<div class="interview-preparation header">
    <h1>Interview Preparations for successful career</h1>
</div>

<div class="interview-preparation container">
    <article>
        <div class="image-wrapper">
            <img src="/Content/Images/interview-preparation1.jpg" alt="InterviewPreparation">
        </div>
        <p>
            Job interview is a formal meeting in which an applicant is asked questions to determine their suitability for a particular job.<br /><br />
            In interviews, you try to convince a recruiter that you have the skills, knowledge and experience for the job.
            To express yourself  fit for the organization's culture and job description.
        </p>
        <h2>Steps for interview preparation</h2>
        <h3>Step 1 : Careful examination and inspections about organization</h3>
        <p>If you skip this step, then you can't answer the question <strong><a href="@Url.Action("commonhrquestions", "HRInterview" )">"What do you know about us?"</a></strong> so must prepare for it.</p>
        <p>
            1. Google the Organisation name and visit website<br />
            2. Find the product or services and purpose or functions provided by the organisation<br />
            3. Check the press releases and news related to the organisation<br />
            5. Check the company profile in Linkedin<br />
            6. Find the linkedin profiles of the interviewers<br />
            For more details <a href="#">click here</a>
        </p><!--click here connect to detail description, adding links help for seo, sitemap -->
        <h3>Step 2 : Verify to meet the job reqiurement</h3>
        <p>
            1. evaluate the job description - ensure that the actual duties are interesing and trustworthy with the position level and title.<br />
            2. Summarize the knowledge,skills and abilities required - Check your qualifications meet the given job requirements<br />
            3. Examine the particular position - check the job position is apt for you.
        </p>
        <h3>Step 3 : Question Preparation</h3>
        <p>
            In most interviews,interviewer ask "<strong>If you have any questions?</strong>". Never skip this question .<br />
            This determine that you are prepared and commited to the role and the company.
            Interesting questions that will set you apart from other candidates.
            So you can ask about the culture, growth opportunities and role expectations etc.
            Make sure that do not ask for information that can be found on the organisation's website.<br /><br />
        </p>

        <p> Make a list of questions that may be asked by the interviewer and practice your answer.<br /></p>
        <div class="image-wrapper1">
            <img src="/Content/Images/interview-preparation2.jpg">

        </div>
        <h3>Step 4 : What to bring</h3>
        <p>
            1. Portfolio with extra copies of your resume <br />
            2. A list of references<br />
            3. A list of questions ask the interviewer<br />
            4. Pen and paper <br />
            5.Work samples
        </p>
        <h3>Step 5 : Dress properly</h3>
        <p>
            1. Research about dress codes,which match for your position and industry <br />
            2. Wear neutral colors and avoid loud colors and patterns<br />
            3. Make sure that your cloths are iron ie neat and wrinkle-free. Your over all appearence is neat and clean.
        </p>
        <h3>Step 6 : Find Location</h3>
        <p>Its important to know where the job interview take place- ahead of time. That will help you to avoid running late to the interview.</p>
        <h3>Step 7 : Practice and pay attention to non-verbal communication</h3>
        <p>
            1. Its about expose confidence - standing straight,smile, making eye contact and connecting with a firm handshake.<br />
            2. Do not place anything on their desk.<br />
            3. Don't stare, but maintain good eye contact, when you facing interviewer's questions.<br />
            4. Avoid nervous gestures such as foot tapping and nail biting etc.<br />
            5. Keep in mind that waiting room behaviours may be reported.
        </p>

        <p>We had handpicked a list of most common interview questions and answer for you have look <a href="@Url.Action("commonhrquestions", "HRInterview" )">Most Common Interview Questions</a> </p>
        <p>There are many things to be taken care while attending an interview.Avoid that mistakes ..have a look at <a href="@Url.Action("interviewdoesanddont", "HRInterview")">Do's and Don'ts of Interview</a> </p>

    </article>
</div>
@{
    Html.RenderPartial("/Views/Shared/_CommentBox.cshtml");
}
