<div class="container">
    <h2>Panel Footer</h2>
    <div class="panel panel-default">


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Exam </th>
                    <th scope="col">Exam ref-70-480</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Total Question</th>
                    <td>100</td>

                </tr>
                <tr>
                    <th scope="row">Total Time</th>
                    <td>75 minute</td>

                </tr>
                <tr>
                    <th scope="row">Negative Mark</th>
                    <td>-1 per 3 Wrong Answer </td>

                </tr>
            </tbody>
        </table>




        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Total Questions: 100 </div>
        <div class="panel-body">Total Time:75 minute</div>
        <div class="panel-body">Instruction  : Do not refresh page, Press "Submit"  on Completion </div>
        <div class="panel-body">Panel Content</div>
        <div class="panel-footer">-1 Mark for 3 Wrong Answer</div>
    </div>
</div>