<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h2>Test</h2>

<div class="container">
    <div>
        <p style="text-align:center ;padding-right :10px">
            <button type="button" id="Submit" class="btn btn-info">Submit</button>
            <button type="button" class="btn btn-warning">Cancel</button>
        </p>
    </div>
    <div id="ResultDiv"></div>
    <div id="timer"></div>
    <div id="MainCont">

    </div>

    <div>
        <p style="text-align:center ;padding-right :10px">

            <button type="button" id="Next" class="btn btn-warning">Next</button>
        </p>
    </div>
</div>