@{
    ViewBag.Title = "MicrosoftCertifications";
}


<style>
    .block {
        display: inline-block;
        width: 200px;
        height: 200px;
        background-color: lightgray;
        margin-right: 20px;
    }

    .container {
        text-align: center;
    }
</style>
<h2> Browse Free Microsoft Certifcation Questions By Categories</h2>
<div class="container">

    <a href="~/Views/Certification/MicrosoftCertifications.cshtml" class="block">Microsoft Technology Associate (MTA)</a>
    <a href="~/Views/Certification/MicrosoftCertifications.cshtml" class="block">Microsoft Certified Solutions Associate (MCSA)</a>
    <a href="~/Views/Certification/MicrosoftCertifications.cshtml" class="block">Microsoft Certified Solutions Expert (MCSE)</a>
    <a href="~/Views/Certification/MicrosoftCertifications.cshtml" class="block">Microsoft Solutions Developer (MCSD)</a>
    <a href="~/Views/Certification/MicrosoftCertifications.cshtml" class="block">Microsoft Office Specialist (MOS)</a>
</div>

