<link href="~/CSS/Genuinity-Certificate.css?123" rel="stylesheet" />
<div class="container">
    <div class="genuinity-header">
        <h1>Genuinity Certificate and Equivalency certificates</h1>
    </div>

    <div class="container genuinity-content">
        <article>
            <h1>Steps on how Indians Receive Genuinity Certificate and Get Equivalency certificates from UAE for UAE Security Clearance</h1>
            <p><strong>For Getting Your Degree (UG) certificate Attested , You need to get Equivalency certificate for your 10+2 certificate  (plus two/Higher secondary certificate) first</strong></p>
            <div style="overflow-x:auto;">
                <table>
                    <tr class="genuinity-step">
                        <td><strong>Step 1 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong> Getting 10+2  (plus two/Higher secondary certificate) For MOE Happiness /Customer Centers </strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Required Documents </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><strong>1) 10th certificate (Orginal & 1 PhotoCopy)</strong><br />Must be attested by UAE Embassy in India and then stamped by UAE</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>2) 12 th /(plus two/Higher secondary) (Orginal & 1 PhotoCopy)</strong><br />Must be attested by UAE Embassy in India and then stamped by UAE
                            <br /> It is also avisable to keep mark list of Plus One/11th standard as sometimes officer will ask for it
                            <br /><br />NB:Almost all travel agencies in India do it and Typing centers in UAE also does it <br />
                            Apprmate cost : 2000 inr per document / 600 AED per document(including courier charges)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><strong>3) Orginal Passport With UAE Visa Page</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>4)Legal Arabic Transalation of Your +12 Certificate </strong><br /><br />
                            NB:Almost all travel agencies in  UAE does it  if your Certifcates had the stamps mentioned in previos steps<br />
                            Apprmate charge : 50Dhms
                        </td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 2 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong> Sending Documents For Getting genuinity of Degree Ug certificate from university </strong><br /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            Go to the nearest IVS Global Center in UAE and Submit Application Documents Required<br /><br /><strong>
                                1)	Original certificate + 2 copies<br />
                                2)	Original Marksheet + 2 copies<br />
                                3)	Original Passport + 2 copies/certificate<br />
                                4)	If required Demand Draft or online Payment receipt (As mentioned on the notice board). DD can be made at the UAE Exchanges<br />
                                5)	Copy of the DD <br />
                                6)	Courier forms to be filled and a photocopy of the same needs to be taken.
                            </strong>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td><strong>Dont forget to keep the Slip you receive from IVS global it consist of a Couriernumber & IVS number </strong></td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 3 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong>Track the IVS Num in  CGI Portal </strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            It takes almost 5 to 7 days for the IVS number to get Updated in CGI portal<br />
                            Wait for "Application forwarded to University" Status
                        </td></td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 4 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong>Follow Up Universities for Genuinity</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            Continously followup university for update on genuinity Application using the Courier number you have <br />
                            Keep on pushing them else it will take months (even 6 to 8 month)<br />
                            If Possible try to get the Dispatch number to track
                        </td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 5 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong> Track the IVS Num in  CGI Portal Again</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            Wait for "Document Received Status" Status <br />
                            It will be better if you follow up them over phone
                        </td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 6 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong>Follow Up the CGI office to get Embassy Letter</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            It will take approximately one week if you regularly follow up<br />
                            This letter is meant to be sent to MOE,But I strongly advice requesting them to give a copy with university letter on Your mail also
                        </td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 7 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong>Apply Online for Genuinity certificate in MOE website and Note down the Application number</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Make sure you correctly mention the name of the organisation to whom the Equivalency certificate is required (new organisation where you are going to work)</td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 8 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong>Visit the MOE and Show All the Documents</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            Required Document<br /><br /><strong>
                                1)	Certificates (orginal & Copy)<br />
                                2)	Passport (orginal & Copy)<br />
                                3)	Marklist (All semester required )<br />
                                4)	Letter from consulate <br />
                                5)	Genuinity Letter form university<br /><br />
                                fees : Approximately 150 AED
                            </strong>
                        </td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 9 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong>Track the Application in the MOE website. Till the Application status is Approved and then Completed</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>There are multiple stages before you get it approved,approximately 3 to 4 weeks for the same ..You can call to MOE and get the update and request for speeding up </td>
                    </tr>
                    <tr class="genuinity-step">
                        <td><strong>Step 10 </strong></td>
                        <td><strong> : </strong></td>
                        <td><strong>Hurray!!! Your equivalency certificate will be Couriered to you  within 5 days</strong></td>
                    </tr>


                </table>
            </div>
        </article>
    </div>

</div>
@{
    Html.RenderPartial("/Views/Shared/_CommentBox.cshtml");
}