<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Online Interview </title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





    <script type="text/javascript">

        $(document).ready(function () {

            var totaltimeinseconts = 240;
            var elapsedtime = 0;
            var questions;
            var correctAnswercount = 0;
            var WrongAnswerCount = 0;
            var NoAnswerCount = 0;
            var uri = 'http://localhost:58876/api/PMP';

            var i = 1;
            var currentQuestion = 0;
            var currentQuestionId = 0;
            $.ajax({
                url: uri,
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    questions = data;
                    LoadQuestion()
                    $("#timer").text("Time left: 2 Hours ");
                    setInterval(myTimer, 60000);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });


            function LoadQuestion() {
                $("#MainCont").html("");
                var val = questions[currentQuestion];
                currentQuestionId = val.QuestionId
                $("#MainCont").append("  <div class='row NewQst' id='\Q" + val.QuestionId.toString().trim() + "'><p class='well'> Question  :" + i.toString() + "</p>   <p>" + val.FullQuestion + "</P> <p><strong> Options</strong></p> " +
                  " <p> <label class=\"radio-inline\"><input type=\"radio\"name=\"optradioQ" + val.QuestionId.toString() + "\"  value=\"" + val.AnswerOption1 + "\"> " + val.AnswerOption1 + "</label></p>" +
                  " <p><label class=\"radio-inline\"><input type=\"radio\" name=\"optradioQ" + val.QuestionId.toString() + "\"  value=\"" + val.AnswerOption2 + "\"> " + val.AnswerOption2 + "</label></p>" +
                  " <p><label class=\"radio-inline\"><input type=\"radio\" name=\"optradioQ" + val.QuestionId.toString() + "\"   value=\"" + val.AnswerOption3 + "\"> " + val.AnswerOption3 + "</label></p>" +
                  " <p> <label class=\"radio-inline\"><input type=\"radio\" name=\"optradioQ" + val.QuestionId.toString() + "\"  value=\"" + val.AnswerOption4 + "\"> " + val.AnswerOption4 + "</label></p>" +
                  "</div>");
            }

            function myTimer() {


                elapsedtime++;


                var remainingtime = totaltimeinseconts - elapsedtime;

                var remaininghour = Math.floor(remainingtime / 60)

                var remainingminute = Math.floor(remainingtime - (remaininghour * 60))

                $("#timer").text("Time left: " + remaininghour + " Hours " + remainingminute + "Minutes");


            }




            $("#Next").click(function () {
                var selectedanswer = $(".radio-inline").find("input[type=radio]:checked").val()

                setAnswer(currentQuestionId, selectedanswer);
                currentQuestion++;
                LoadQuestion();
            });

            $("#Submit").click(function () {



                ShowResult()
                SendAnswer()
            });






            function setAnswer(id, newAnswer) {
                if (typeof (newAnswer) == 'undefined') {
                    newAnswer = ""
                }
                for (var i = 0; i < questions.length; i++) {
                    if (questions[i].QuestionId === id) {
                        questions[i].UserAnswer = newAnswer;
                        return;
                    }
                }
            }



            function SendAnswer() {
                alert("Sending" + typeof questions);

                $.ajax({
                    url: uri,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(questions),
                    success: function () {
                        alert('success!');
                    }
                });
            }


            function ShowResult() {

                for (var i = 0; i < questions.length; i++) {
                    var divname = "#Q" + questions[i].QuestionId.toString()


                    if (questions[i].CorrectAnswer.trim().length > 0) {


                        if (questions[i].CorrectAnswer === questions[i].UserAnswer) {
                            correctAnswercount++

                            $(divname).css("background-color", "#C3F3CB")

                        }
                        else {

                            $(divname).css("background-color", "#DF8389")
                            WrongAnswerCount++

                        }
                    }
                    else {
                        NoAnswerCount++;
                        $(divname).css("background-color", "#D5F5FD");

                    }


                }

                $("#MainCont").html("");
                $("#MainCont").append("<h3><p> You Have " + correctAnswercount.toString() + " Correct Answers and " + WrongAnswerCount.toString() + " Wrong Answers and " + NoAnswerCount.toString() + " Not Attended Question</p></h3>");

            }






        });



    </script>

</head>
<body>

    <div class="container">
        <div>
            <p style="text-align:center ;padding-right :10px">
                <button type="button" id="Submit" class="btn btn-info">Submit</button>
                <button type="button" class="btn btn-warning">Cancel</button>
            </p>
        </div>
        <div id="ResultDiv"></div>
        <div id="timer"></div>
        <div id="MainCont">

        </div>

        <div>
            <p style="text-align:center ;padding-right :10px">

                <button type="button" id="Next" class="btn btn-warning">Next</button>
            </p>
        </div>
    </div>

</body>



</html>
