<style>
    .short {
        font-weight: bold;
        color: #FF0000;
        font-size: larger;
    }

    .weak {
        font-weight: bold;
        color: orange;
        font-size: larger;
    }

    .weaker {
        font-weight: bold;
        color: orange;
        font-size: larger;
    }

    .good {
        font-weight: bold;
        color: #2D98F3;
        font-size: larger;
    }

    .better {
        font-weight: bold;
        color: #2D98F3;
        font-size: larger;
    }

    .strong {
        font-weight: bold;
        color: limegreen;
        font-size: larger;
    }
</style>

<script src="~/Scripts/PassWordStrengthCheck.js"></script>

<h1>Check the Strength of passwords you use</h1>
<form>
    <div class="form-group">
        <br />
        <div class="text-center "><label for="inputsm" style="text-align :center">How Strong is your Password</label></div>

        <input class="form-control input-sm" id="inputsm" type="password" placeholder="Type Your Password here">
    </div>
    <div class="form-group">
        <span id="result"></span>
    </div>
    <div class="form-group">
        <span id="Warning"></span>
    </div>
    <div class="form-group">
        Disclaimer: Jumb2Job.com never saves your Password .We just use algoritham to determine complexity of your Password
    </div>
</form>